html, body {
  height: 100%;
  min-height: 100%;
}
body {
  background: url(https://c1.momondo.net/content/articles/ca/ca11d124-1e30-32c0-89ac-fcae2a0c9f4d.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}
.logo {
  border: 12px solid white;
  padding: 5%;
  text-align: center;
  width: 25%;
  margin: auto;
  position: relative;
}
main {
  height: 30%;
  margin: 0 auto;
}
h1 {
  font-family: "Gill Sans", sans-serif, #b7b3b2;
  font-size: 30px;
}

h2 {
  font-family: "Gill Sans", sans-serif;
  font-size: 70px;
  text-align: center;
  color: #5b5a59;
  background: white;
  width:45%;
  margin: 20px auto;

}
h3 {
  font-family:  "Gill Sans", sans-serif;
  font-size: 35px;
  color: white;
  text-align: center;
}
 .grid-container {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  
}
.grid-item {
  border: solid #ea7b0b 2px;
  align-self: center;
  justify-self: center;
  width: 50%;
}
.emoji img{
  height: 200px;
}

